* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #0ef43c;
    font-family: Arial, sans-serif;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #00ff00;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

h1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-align: center;
    color: #333;
    margin-top: 20px;
    padding: 4px;
}

.logo {
    width: 150px;
    height: 150px;
}

.navegador {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 15px; 
    background-color: white; 
    padding: 15px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%; 
    flex-wrap: wrap; 
}

.navegador a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #0ef43c;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #34a853; /* Verde más oscuro al pasar el ratón */
}

nav select {
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    background-color: #0ef43c; /* Fondo gris oscuro */
}

nav button {
    padding: 8px 15px;
    background-color: #0ef43c;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav button:hover {
    background-color: #34a853; /* Efecto de hover verde más oscuro */
}

.principal{
    display: flex;
}

.catalogo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 20px;
}

.producto {
    max-width: 250px;
    background-color: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
}

.producto img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.producto p, .producto span {
    margin: 5px 0;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #555;
}

.oculto {
    display: none;
}

aside img {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 20px; 
  }

  .detalle-producto {
    width: 400px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 10px; 
}

