* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0ef43c;
    font-family: Arial, sans-serif;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #00ff00;
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}

h1 {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
}

.indicacion {
    font-size: 14px;
    color: #666;
    margin-top: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    transition: transform 0.3s ease;
}
.logo:hover{
transform: translateY(-8px) scale(1.1);
}

.principal {
    background-color: #f0f5f5;
    border: 5px solid #00ff00;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
}


.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.registro input[type="text"],
.registro input[type="number"] {
    width: 50%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registro input[type="radio"] {
    margin: 0 5px 0 15px;
}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items:end;
    background-color: #fff;
    border: 5px solid #00ff00;
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    border-radius: 15px;
}

.navegador a,
.navegador button {
    background-color: #07f507;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.navegador button:hover,
.navegador a:hover {
    background-color: #15671c;
}

.pie-pagina {
    text-align: center;
    font-size: 12px;
    color: #666;
    padding: 10px;
    background-color: #fff;
    border-top: 2px solid #00ff00;
    border-radius: 15px;
    margin-top: 20px;
}
