* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Configuración básica y colores */
body {
    background-color: #e0f7e9;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
  }
  